<%- include('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>

        <div class="container">
            <br>
            <div class="card">
                <div class="card-header">
                    <h2>Atualizar artigo</h2>
                </div>
                <div class="card-body">
                    <form action="/articles/update" method="POST">
                        <input class="form-control" type="text" value="<%= article.title %>" name="title" placeholder="Defina o titulo do artigo">
                        <input type="hidden" value="<%= article.id %>" name="id">
                        <br>
                        <textarea name="body" id="article" cols="30" class="form-control" placeholder="Escreva o artigo aqui"></textarea>
                        <br>
                        <label>Categorial</label>
                        <select name="category" class="form-control">
                            <% categories.forEach((category)  => {  %>

                                <% if(category.id == article.categoryId) { %>
                                    <option value="<%= category.id %>" selected><%= category.title %></option>
                                    <%} else { %>
                                        <option value="<%= category.id %>"><%= category.title %></option>

                                <% } %>
                            <%  }) %>
                        </select>
                        <br>
                        <button class="btn btn-success">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="content" style="display: none;">
            <%- article.body %>
        </div>

        <%- include('../../partials/footer.ejs') %>
            <script src="/tinymce/tinymce.min.js"></script>
            <script>
                tinymce.init({
                    language: 'pt_BR',
                    selector: "#article",
                    plugins: [
                        'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
                    ],
                    init_instance_callback: () => {
                        tinymce.get("article").setContent($("#content").html())
                    }
                })
            </script>