<%- include('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>

        <div class="container">
            <br>
            <h2>Artigos</h2>
            <a href="/admin/articles/new" class="btn btn-success">Criar novo artigo</a>
            <hr>

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% articles.forEach(article => { %>
                        <tr>
                            <td>
                                <%= article.id %>
                            </td>
                            <td>
                                <%= article.title %>
                            </td>
                            <td>
                                <%= article.slug %>
                            </td>
                            <td>
                                <%= article.category.title %>
                            </td>
                            <td>
                                <form action="/articles/delete" method="POST" style="display:inline" onsubmit="confirmarDelecao(event, this)">
                                    <input type="hidden" name="id" value="<%= article.id %>">
                                    <button class="btn btn-danger ">Deletar</button>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>

            </table>
        </div>

        <%- include('../../partials/footer.ejs') %>
            <script>
                //função que previne que o usuário delete a categoria sem querer, mostrando um aviso
                function confirmarDelecao(event, form) { //recebe o evento da tag e a propria tag (form)
                    event.preventDefault(); //para o comportamento padrão
                    var decision = confirm("Você quer deletar esse artigo??"); //mostra um aviso
                    if (decision) { //se o aviso retorna true
                        form.submit(); //ele deleta
                    }
                }
            </script>