<%- include ("../../partials/header.ejs") %>
    <%- include ("../../partials/navbar.ejs") %>

        <div class="container">
            <h2 class="text-center">Usuários</h2>
            <br>
            <a href="/admin/users/create" class="btn btn-success">Novo Usuário</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => {%>
                        <tr>
                            <td>
                                <%= user.id %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        </div>

        <%- include ("../../partials/footer.ejs") %>